<div id='unwelcome-page'>
  <h1>This is not a website</h1>

  <p>Are you a blackbelt supermutant?</p>
  <%= link_to 'Yes', 'https://en.wikipedia.org/wiki/Amish' %>
  <%= link_to 'No', robots_path %>
</div>
