<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An order has been placed for <%= @purchase.robot.name %></h1>

    <h2>Purchased by: <%= @purchase.name %></h2>
    <h2>Email: <%= @purchase.email %></h2>
  </body>
</html>
