/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: lightgray;
  margin: 0;
  margin-top: 80px;
}


nav {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 60px;
  background: #BBB;
  border-bottom: 2px solid #999;
  margin: 0;
}

nav:hover {
  background: darkgray;
}


nav ul {
  display: table;
  width: 100%;
  position: relative;
  margin: 0;
  text-align: right;
  height: 60px;
}

nav li {
  display: inline-block;
  padding: 20px;
  margin-right: 3em;
  font-size: 0.9em;
  height: 20px;
}

nav li#psklrmrfi-link {
  float: left;
}

nav a {
  text-decoration: none;
  color: black;
}

/*nav a:hover {
  -webkit-text-stroke: 1px #222;
}*/

li#psklrmrfi-link a {
  font-size: 1.2em;
  text-shadow: 1px 1px #CCC;
}

/*li#psklrmrfi-link a:hover {
  -webkit-text-stroke: 1px #222;
}*/

.outside-container {
  max-width: 850px;
}

#in-stock-container, #on-order-container {
  max-width: 350px;
  padding: 10px 20px;
  color: lightgray;
  background-color: #555;
  border: 2px solid rgba(0, 255, 0, 0.57);;
}

#in-stock-container {
  float: left;
}

#on-order-container {
  float: right;
}

#inventory-title {
  margin: 60px auto;
}

.in-stock-robot, .on-order-robot {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  float: left;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
}

.robot-show-container {
  background-color: #444;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  color: lightgray;
  border-radius: 10px;
}

.robot-edit-links {
  margin-top: 20px;
}

a:link    { color: #ec007f }
a:visited { color: darkred }
a:hover   { color: darkorange }
a:active  { color: darkred }

nav a:link    { color: black }
nav a:visited { color: black }
nav a:hover   {
  -webkit-text-stroke: 1px #222;
  color: black;
}
nav a:active  { color: #222 }

.link {
  text-decoration: none;
}

.shadow {
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
}

.underline {
  text-decoration: underline;
}

.t-a {
  text-align: center;
}

.center {
  margin: auto;
}

.clear {
  clear: both;
}

#error {
  color: rgb(150, 0, 0);
}

#notice {
  color: rgb(0, 150, 0);
  font-weight: bold;
}

#error, #notice {
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  #in-stock-container, #on-order-container, .in-stock-robot, .on-order-robot {
    float:none;
    margin-bottom: 10px;
  }

  #in-stock-container, #on-order-container {
    margin: auto;
    max-width: 70vw;
    margin-bottom: 15px;
  }

  body {
    font-size: 1.8em;
    margin-top: 100px;
  }

  nav li {
    font-size: 1em;
    padding: 25px, 0;
  }

  .in-stock-robot, .on-order-robot {
    padding: 15px;
  }

  .in-stock-robot *, .on-order-robot * {
    margin: 15px;
  }

  nav {
    height: 80px;
  }

}
