/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightgray;
}

.outside-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

#in-stock-container, #on-order-container {
  width: 350px;
  padding: 10px 20px;
  color: lightgray;
  background-color: #555;
  border-radius: 10px;
}

.in-stock-robot, .on-order-robot {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  float: left;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
}

.underline {
  text-decoration: underline;
}

.t-a {
  text-align: center;
}

.center {
  margin: auto;
}

.clear {
  clear: both;
}
