<div id='products-container'>
  <h2><%= @manufacturer.name %></h2>

  <% @manufacturer.products.each do |product| %>
    <p><%= link_to product.model_number, manufacturer_product_path(@manufacturer, product) %></p>
  <% end %>

  <%= link_to 'Back', :back %>
</div>
